.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgba(224, 201, 236, 0.3);
  /* background-color: rgba(214, 178, 234, 0.3); */
  height: 4em;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.logoContainer {
  font-size: x-large;
  font-weight: 500;
  padding-left: 1.5em;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 40%;
  margin-left: auto;
  align-items: center;
}

/* -------------------------- footer --------------------------- */

.footer {
  height: 5rem;
  background-color: rgba(224, 201, 236, 0.3);
  text-align: center;
  font-size: 1.5em;
  margin-top: 10rem;
  padding-top: 0.5em;
}

/* -------------------- image carousel main -------------------- */

.mainContainer {
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  width: 100vw;
  /* arrows and indicator */
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 2em;
}

div.mainContainer > * {
  padding: 15px;
}

.imageIndicatorContainer > div {
  display: inline;
  padding: 2px;
}

.collections {
  height: 130vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collectionsTitle {
  font-size: xx-large;
  margin-bottom: 2rem;
}

.collectionsLinksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 80%;
}

.coverImageContainer {
  width: 100%;
  position: relative;
  text-align: center;
}

.textOverlay {
  background-color: rgba(224, 201, 236, 0.1);
  border-radius: 20%;
  padding: 1%;
  font-size: xx-large;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coverImages {
  width: 90%;
  transition: transform 0.2s; /* Animation */
}

.expandable:hover {
  transform: scale(1.05);
}

/* -------------------------- product type --------------------------- */

.pageProductType,
.favoritesPage {
  direction: rtl;
}

.pageTitle {
  width: 100vw;
  height: 4rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 3rem;
  background-color: #f2dbf3;
  direction: ltr;
}

.productsGallery {
  width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 2rem;
}

.gallerySingleItem {
  background-color: rgba(224, 201, 236, 0.3);
}

.itemImage {
  width: 100%;
}

.itemDetails {
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.itemName {
  font-size: 25px;
  font-weight: 600;
}

.productDataContainer {
  text-align: center;
  font-weight: 600;
}

.addToCartContainer button {
  background: none;
  cursor: pointer;
  border: 1px rgb(129, 82, 156) solid;
  padding: 0.25rem;
}

.actionButtons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.2rem;
}
.favoriteIcon {
  margin-top: 0.2rem;
}

/* -------------------------- product page --------------------------- */

.productPage {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.productDetailsContainer {
  background-color: rgba(224, 201, 236, 0.3);
  display: flex;
  direction: rtl;
  margin-top: 5rem;
  width: 85%;
  height: 80%;
  padding: 1.5em;
  border-radius: 10px;
}

.productPageRightSide {
  width: 45%;
  flex-direction: column;
  justify-content: space-evenly;
}

.productCarouselContainer {
  width: 55%;
  margin-right: 1em;
  height: fit-content;
}

.productDescriptionSection {
  text-align: center;
  line-height: 2rem;
  flex-direction: column;
}

.productDescriptionSection .productDescription {
  font-size: 1.2rem;
}
.productDescriptionSection .productDescription,
.sizeSelectorContainer {
  width: 70%;
}

.sizeSelectorContainer {
  flex-direction: column;
}

.productCarouselSingleImage {
  width: 100%;
}

.rightArrow,
.leftArrow {
  cursor: pointer;
}

.productPageLeftSide .imageControlsContainer {
  margin-top: 1rem;
}

/* -------------------------- about page --------------------------- */

.about {
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 3rem;
}

/* -------------------------- cart page --------------------------- */

.cartPage {
  direction: rtl;
  /* background-color: antiquewhite; */
  position: relative;
  height: 100vh;
}

.cartMainSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
}

.cartItem,
.cartItem main div {
  display: flex;
}

.cartItem {
  padding: 1rem;
  border-bottom: 1px solid #2c2a2a;
}

.singleImage {
  width: 200px;
}

.namePriceContainer {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.namePriceContainer .itemName {
  margin-bottom: 0.5rem;
}

.cartItem main {
  margin-left: auto;
}

.cartItem aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.qtyContainer {
  display: flex;
  justify-content: space-evenly;
  width: 4rem;
}

.removeFromCart button {
  background: none;
  border: none;
  cursor: pointer;
}

.cartQuantityButton {
  cursor: pointer;
}

.returnButton {
  display: flex;
  width: fit-content;
  margin-right: auto;
}

.returnButton span {
  font-size: 1rem;
  font-weight: 600;
}

.orderSummary {
  width: 30%;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 2rem;
  margin-top: 4rem;
}

.orderSummary > * {
  padding-right: 0.8rem;
}

#summaryTitle {
  font-size: 1.7rem;
  border-bottom: 1px solid #2c2a2a;
}

#summaryMain {
  padding: 1.2rem;
}

#currentSubTotalContainer,
#shipmentPriceContainer,
#summaryTotalAndCheckout {
  display: flex;
  justify-content: space-between;
}

#summaryMain > div {
  margin-bottom: 1rem;
}

#summaryTotalAndCheckout {
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.checkoutButton {
  width: 90%;
  height: 2rem;
  margin: auto;
  border: 1px solid #2c2a2a;
  background: rgba(197, 171, 211, 0.3);
  font-size: 1.2rem;
  cursor: pointer;
}

.disabled {
  opacity: 0.7;
  cursor: default;
}

.bigFont {
  font-size: 2rem;
}

/* -------------scroll bar----------------- */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -------------------------- about page --------------------------- */

.noProductsToShow {
  height: 70vh;
}

/* -------------------- checkout -------------------- */

.checkoutPage {
  height: 100vh;
  direction: rtl;
}

.checkoutPageContainer {
  width: 70%;
  height: 80%;
  position: relative;
}

.checkoutPageContainer aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 38%;
  display: flex;
}

.firstStep,
.secondStep,
.thirdStep {
  width: 58%;
  height: 100%;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
}

.checkoutPageContainer main {
  height: 100%;
}

.firstStep form input,
.firstStep form select {
  background: none;
  padding: 0.5rem;
}

.firstStep form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstStep form > div {
  margin-bottom: 1.5rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  > input {
    flex-grow: 1;
  }

  :nth-child(even) {
    margin: 0 0.25rem 0 0;
  }
}

.emailInputContainer input {
  margin: 0;
}

input[type="submit"] {
  width: 80%;
}

.checkoutFormNotEditing {
  position: relative;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.checkoutFormNotEditing > span {
  position: absolute;
  top: 0;
  left: 2rem;
}

.stepTitle {
  font-size: 1.7rem;
  font-weight: 500;
}

.firstStepTitle {
  margin-right: 3.5rem;
  margin-bottom: 1rem;
}

.shippingOptionsContainer {
  padding: 0.5rem;
}

.shipmentOptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

.shipmentInputContainer {
  display: flex;
  width: fit-content;
}

.shipmentInputContainer > label {
  margin-right: 0.5rem;
}

.shipmentInputContainer > label > div:nth-child(1) {
  font-size: 1.1rem;
}

.shipmentInputContainer > label > div:nth-child(2) {
  opacity: 0.8;
}

.stepTwoContinueButton {
  cursor: pointer;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 2.5rem;
  background: #2b2b2b;
  color: rgb(245, 239, 239);
}

.shipmentOptionsNotEditing {
  height: 6rem;
  border-bottom: 1px solid black;
}

.paypalContainer {
  width: 100%;
  height: fit-content;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
