.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgba(224, 201, 236, 0.3);
  /* background-color: rgba(214, 178, 234, 0.3); */
  height: 4em;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.logoContainer {
  font-size: x-large;
  font-weight: 500;
  padding-left: 1.5em;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 40%;
  margin-left: auto;
  align-items: center;
}

/* -------------------------- footer --------------------------- */

.footer {
  height: 5rem;
  background-color: rgba(224, 201, 236, 0.3);
  text-align: center;
  font-size: 1.5em;
  margin-top: 10rem;
  padding-top: 0.5em;
}

/* -------------------- image carousel main -------------------- */

.mainContainer {
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  width: 100vw;
  /* arrows and indicator */
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 2em;
}

div.mainContainer > * {
  padding: 15px;
}

.imageIndicatorContainer > div {
  display: inline;
  padding: 2px;
}

.collections {
  height: 130vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collectionsTitle {
  font-size: xx-large;
  margin-bottom: 2rem;
}

.collectionsLinksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 80%;
}

.coverImageContainer {
  width: 100%;
  position: relative;
  text-align: center;
}

.textOverlay {
  background-color: rgba(224, 201, 236, 0.1);
  border-radius: 20%;
  padding: 1%;
  font-size: xx-large;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coverImages {
  width: 90%;
  transition: transform 0.2s; /* Animation */
}

.coverImages:hover {
  transform: scale(1.1);
}

/* -------------------------- product type --------------------------- */

.pageProductType,
.favoritesPage {
  direction: rtl;
}

.pageTitle {
  width: 100vw;
  height: 4rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 3rem;
  background-color: #f2dbf3;
  direction: ltr;
}

.productsGallery {
  width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 2rem;
}

.gallerySingleItem {
  background-color: rgba(224, 201, 236, 0.3);
}

.itemImage {
  width: 100%;
}

.itemDetails {
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.itemName {
  font-size: 25px;
  font-weight: 600;
}

.productDataContainer {
  text-align: center;
  font-weight: 600;
}

.itemImage:hover {
  transform: scale(1.05); /*  TODO: make sure with Shaked that she likes it */
}

.addToCartContainer button {
  background: none;
  cursor: pointer;
  border: 1px rgb(129, 82, 156) solid;
  padding: 0.25rem;
}

.actionButtons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.2rem;
}
.favoriteIcon {
  margin-top: 0.2rem;
}

/* -------------------------- product page --------------------------- */

.productPage {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.productDetailsContainer {
  background-color: rgba(224, 201, 236, 0.3);
  display: flex;
  direction: rtl;
  margin-top: 5rem;
  width: 85%;
  height: 80%;
  padding: 1.5em;
  border-radius: 10px;
}

.productPageRightSide {
  width: 45%;
  flex-direction: column;
  justify-content: space-evenly;
}

.productCarouselContainer {
  width: 55%;
  margin-right: 1em;
  height: fit-content;
}

.productDescriptionSection {
  text-align: center;
  line-height: 2rem;
  flex-direction: column;
}

.productDescriptionSection .productDescription {
  font-size: 1.2rem;
}
.productDescriptionSection .productDescription,
.sizeSelectorContainer {
  width: 70%;
}

.sizeSelectorContainer {
  flex-direction: column;
}

.productCarouselSingleImage {
  width: 100%;
}

.rightArrow,
.leftArrow {
  cursor: pointer;
}

.productPageLeftSide .imageControlsContainer {
  margin-top: 1rem;
}
